# Replace the values with your own
SESSION_SECRET="foobar"

PUBLIC_STORE_DOMAIN=weaverse-naturelle.myshopify.com
PUBLIC_STOREFRONT_API_TOKEN=
PUBLIC_CUSTOMER_ACCOUNT_API_CLIENT_ID=
SHOP_ID=
PUBLIC_CHECKOUT_DOMAIN=

## Optional
PUBLIC_STOREFRONT_ID=
# PRIVATE_STOREFRONT_API_TOKEN="your-private-storefront-api-token"

# Weaverse
WEAVERSE_PROJECT_ID=

# Optional Weaverse Configs
# WEAVERSE_API_KEY="your-weaverse-api-key"
# WEAVERSE_HOST="https://studio.weaverse.io"
# WEAVERSE_API_BASE="https://api.weaverse.io"

# Additional services
# PUBLIC_GOOGLE_GTM_ID=G-XXXXXXXXXX
# JUDGEME_PRIVATE_API_TOKEN="your-judgeme-private-api-token"

# Custom metafields & metaobjects
PRODUCT_CUSTOM_DATA_METAFIELD="custom.details"
METAOBJECT_COLORS_TYPE="shopify--color-pattern"
