# The variables added in this file are only available locally in MiniOxygen

SESSION_SECRET="foobar"
PUBLIC_STORE_DOMAIN="mock.shop"


WEAVERSE_PROJECT_ID="clq0uae6900gb10z7kxz19kop"
#WEAVERSE_API_KEY="b2a0f0d0-0b0a-0a0b-0a0b-0a0b0a0b0a0b"
